<form name="myForm">
  <div class="form-group" ng-class="{error: myForm.name.$invalid}">
    <label for="appName">Application name</label>
    <input type="text" name="name" class="form-control" ng-model="app.name" id="appName" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">
      Required
    </span>
  </div>
 
  <div class="form-group" ng-class="{error: myForm.site.$invalid}">
    <label>Github repo</label>
    <input type="url"  class="form-control" name="site" ng-model="app.site" required>
    <span ng-show="myForm.site.$error.required" class="help-inline">
      Required
    </span>
    <span ng-show="myForm.site.$error.url" class="help-inline">
      Not a URL
    </span>
  </div>
 
  <label>Description</label>
  <textarea name="description"  class="form-control" ng-model="app.description"></textarea>
 
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
          class="btn btn-primary">Save</button>
  <button ng-click="destroy()"
          ng-show="app.$id" class="btn btn-danger">Delete</button>
</form>